*{color: black; text-align:center;}
h2{color: blue; font-size: 20px; font-family: tahoma;text-align:left;}
p{color: black; font-size: 12px; font-family: tahoma; text-align: justify;}

.dia27{font-size: 12px; color: red; font-family: tahoma; text-align: center; text-indent: inherit;}
#titulo{background-color: gray; margin-left: 500px; margin-right: 500px;}
