#exemplo{width: 200px; height: 200px; background-color: red;}
#exemplo:hover{
  width: 350px;
  height: 350px;
  background-color: green;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 2s;


}
